SPOTIFY_DB_USER=root
SPOTIFY_DB_PASSWORD=your_mysql_password
SPOTIFY_DB_HOST=localhost
SPOTIFY_DB_NAME=spotify_db
SPOTIFY_FOLDER_PATH=C:\path\to\your\Spotify\Streaming_History\
SPOTIFY_USERNAME=Andrea
